In [2]:
# dependancies
import pandas as pd
import numpy as np
pd.set_option('max_colwidth', 400)

In [12]:
Accepted_df = pd.read_csv('../../../Resources/accepted_2007_to_2018Q4.csv')
Accepted_df.head(1)

C:\Users\LinkO\AppData\Local\Temp\ipykernel_33800\2749959641.py:1: DtypeWarning: Columns (0,19,49,59,118,129,130,131,134,135,136,139,145,146,147) have mixed types. Specify dtype option on import or set low_memory=False.
  Accepted_df = pd.read_csv('../../../Resources/accepted_2007_to_2018Q4.csv')

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
#rename column for sql purposes
Accepted_df.rename(columns={'desc': 'description'}, inplace=True)
Accepted_df.head(1)

,id,member_id,loan_amnt,funded_amnt,funded_amnt_inv,term,int_rate,installment,grade,sub_grade,...,hardship_payoff_balance_amount,hardship_last_payment_amount,disbursement_method,debt_settlement_flag,debt_settlement_flag_date,settlement_status,settlement_date,settlement_amount,settlement_percentage,settlement_term
0,68407277,NaN,3600.0,3600.0,3600.0,36 months,13.99,123.03,C,C4,...,NaN,NaN,Cash,N,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
#Converting the id columns to numeric, and "coercing" non-numeric values to NaN
Accepted_df['id'] = pd.to_numeric(Accepted_df['id'], errors='coerce')

# Drop rows where the 'id' column contains NaN 
Accepted_df.dropna(subset=['id'], inplace=True)

In [ ]:
#Export